.progressbar-container {
	position: relative;
	height: 30px;
}

.progressbar {
	background: url("../images/animated-overlay.gif");
	opacity: 0.25;
	border: 1px solid black;
	border-radius: 4px;
	height: 100%;
}

.progress-label {
	position: absolute;
	width: 100%;
	top: 0px;
	line-height: 30px;
	height: 100%;
	z-index: 10;
	text-align: center;
	color: black;
	opacity: 1;
	font-weight: bold;
}

#data-validation-dialog{
	background-repeat:no-repeat;
	background-position: 10px center;
	padding-left: 50px;
}

#data-validation-dialog.stop{
	background-image: url(../images/dialog-stop.png);
}

#data-validation-dialog.warning{
	background-image: url(../images/dialog-warning.png);
}

#data-validation-dialog.information{
	background-image: url(../images/dialog-information.png);
}

.spreadsheet-message {
	border: 1px solid black;
	padding: 2px 5px;
	font-size: 10px;
	background-color: #FFC059;
	border-radius: 2px;
	opacity: 0.8;
}

.spreadsheet-message p:first-child {
	font-size: 11px;
	font-weight: bold;

}